@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Crif.It.Models;
@using Crif.It.Utils;
@using System;
@{
    ContentModels.BlockListBoard? content = (ContentModels.BlockListBoard?)Model.Content;
    ContentModels.BlockListCardsSettings? settings = (ContentModels.BlockListCardsSettings?)Model.Settings;
    var BList = 1;
    var BPoup = 1;
}


@if (!settings.IsCarousel)
{
    <section class="pageSection">
        <div class="container">
            @if (content.Title != "")
            {
                <h2 class="title text-center">@content.Title</h2>
            }

            <div class="row">
                @foreach (var card in content.BoardList)
                {
                    var listContent = (ContentModels.BlockSingleCardProduct)card.Content;
                    <div class="col-12 col-lg-6">
                        <div class="directorCard zoomImgWrp">
                            <div class="directorImg zoomImg">
                                <img src="@listContent?.Immagine?.Url()" alt="@HtmlUtils.GetImageAlt(listContent?.Immagine)" />
                            </div>
                            <div class="directorInfo">
                                <h5 class="mb-0">@listContent.TitoloProdotto</h5>
                                <span class="directorPos">@listContent.SottotitoloProdotto</span>
                                <div class="directorBrief">

                                    @Html.Raw(listContent.ShortDescription)
                                </div>
                                <a href="#leadership" data-cardno="@BList" data-bs-toggle="modal" class="arrowBtn">Full profile</a>
                            </div>
                        </div>
                    </div>
                    BList++;
                }
            </div>
    </section>

    <section>
        <div class="modal fade leaderModal" id="leadership" tabindex="-1" aria-labelledby="leadership" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content px-4 py-5 p-lg-5 ">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    @foreach (var card in content.BoardList)
                    {
                        var listContent = (ContentModels.BlockSingleCardProduct)card.Content;
                        <div class="row align-items-center gx-5 leaderInfopopup @BPoup" id="@BPoup" data-poupdetails="">


                            <div class="col-12 d-lg-none">
                                <h3 class="leaderName">@listContent.TitoloProdotto</h3>
                                <h5>@listContent.SottotitoloProdotto</h5>
                            </div>
                            <div class="col-12 col-md-4 order-md-2 mb-4">
                                <img src="@listContent?.Immagine?.Url()" alt="@HtmlUtils.GetImageAlt(listContent?.Immagine)" class="fitImg h-auto" />
                                <div class="socialLinks justify-content-center">
                                    <span>Follow us on:</span>
                                    <ul class="ms-2">
                                        <li>
                                            <a href="#"><img src="images/icons/icon-facebook.svg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/icons/icon-twitter.svg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/icons/icon-linkedIn.svg" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 order-md-1">
                                <div class="d-lg-block">
                                    <h3 class="leaderName">@listContent.TitoloProdotto</h3>
                                    <h5>@listContent.SottotitoloProdotto</h5>
                                </div>
                                <div class="leaderInfo mt-4">
                                    @Html.Raw(listContent.DescrizioneProdotto)
                                </div>
                            </div>
                        </div>
                        BPoup++;
                    }
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="pageSection pt-0">
        <div class="container">
            @if (content.Title != "")
            {
                <h2 class="title text-center">@content.Title</h2>
            }

            <div class="customSwiper swiper-container pb-4 pb-md-5">
                <div class="swiper-wrapper">
                    @foreach (var card in content.BoardList)
                    {
                        var listContent = (ContentModels.BlockSingleCardProduct)card.Content;
                        <div class="swiper-slide px-2 zoomImgWrp">
                            <div class="zoomImg">
                                <img src="@listContent?.Immagine?.Url()" alt="@HtmlUtils.GetImageAlt(listContent?.Immagine)" />
                            </div>
                            <h5 class="mt-3 mt-md-4 mb-0">@listContent.TitoloProdotto</h5>
                            <div class="directorPos mb-2">@listContent.SottotitoloProdotto</div>
                            <a href="#Management" data-cardno="@BList" data-bs-toggle="modal" class="arrowBtn">full profile</a>
                        </div>
                    }

                </div>
                <div class="swiper-pagination customPagination"></div>
            </div>
        </div>
    </section>

    <section>
        <div class="modal fade ManagementModal" id="Management" tabindex="-1" aria-labelledby="Management" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content px-4 py-5 p-lg-5 ">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    @foreach (var card in content.BoardList)
                    {
                        var listContent = (ContentModels.BlockSingleCardProduct)card.Content;
                        <div class="row align-items-center gx-5 leaderInfopopup @BPoup" id="@BPoup" data-poupdetails="">


                            <div class="col-12 d-lg-none">
                                <h3 class="leaderName">@listContent.TitoloProdotto</h3>
                                <h5>@listContent.SottotitoloProdotto</h5>
                            </div>
                            <div class="col-12 col-md-4 order-md-2 mb-4">
                                <img src="@listContent?.Immagine?.Url()" alt="@HtmlUtils.GetImageAlt(listContent?.Immagine)" class="fitImg h-auto" />
                                <div class="socialLinks justify-content-center">
                                    <span>Follow us on:</span>
                                    <ul class="ms-2">
                                        <li>
                                            <a href="#"><img src="images/icons/icon-facebook.svg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/icons/icon-twitter.svg" alt=""></a>
                                        </li>
                                        <li>
                                            <a href="#"><img src="images/icons/icon-linkedIn.svg" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-8 order-md-1">
                                <div class="d-lg-block">
                                    <h3 class="leaderName">@listContent.TitoloProdotto</h3>
                                    <h5>@listContent.SottotitoloProdotto</h5>
                                </div>
                                <div class="leaderInfo mt-4">
                                    @Html.Raw(listContent.DescrizioneProdotto)
                                </div>
                            </div>
                        </div>
                        BPoup++;
                    }
                </div>
            </div>
        </div>
    </section>

}
