@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Crif.It.Models;
@using Crif.It.Utils;
@{
    ContentModels.ImageGallery content = (ContentModels.ImageGallery)Model.Content;
    ContentModels.ImageGallerySettings settings = (ContentModels.ImageGallerySettings)Model.Settings;
    string bg = "";
    if (settings != null)
    {
        bg = (settings.NoBackground) ? "bg-gray" : "";        
    }
    Random rd = new Random();
    int num = rd.Next();

    var all = 6;
    var lg = 0;
}

<section class="image-gallery @(bg)" id="@settings?.AnchorID">
    <div class="container-lg overflow-hidden text-center">
        <div class="row gallery">
            @if (content.PicsGallery != null && content.PicsGallery.Any())
            {
                switch (content.PicsGallery.Count())
                {
                    case 1:
                        all = 12;
                        lg = 12;
                        break;
                    case 2:
                        lg = 6;
                        break;
                    case 3:
                        lg = 4;
                        break;
                    default:
                        lg = 3;
                        break;
                }

                foreach (var pic in content.PicsGallery)
                {
                    <div class="col-@(all) col-lg-@(lg)">
                        <a title="@HtmlUtils.GetImageAlt(pic)" href="@pic.Url()" class="thumbnail" data-lightbox="image-gallery+@num">
                            <img src="@pic.Url()" class="img-fluid" alt="@HtmlUtils.GetImageAlt(pic)">
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</section>
