@using Crif.It.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Crif.It.Utils;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Contatti>
@{
    Layout = "NewMaster.cshtml";
    var contatto = Model.Children()?.Where(x => x.ContentType.Alias == "contatto");
}
<main>
    @* <section class="textonly-heading pb-lg-3">
    <div class="container-lg">
    <div class="row">
    <div class="col-12 banner">
    <div class="caption">
    @await(Html.PartialAsync("Breadcrumb", Model))
    <h1 class="h1 fade-in-box">@Model.TitoloContatti</h1>
    <p class="big-text fade-in-box">@Model.DescrizioneContatti</p>
    </div>
    </div>
    </div>
    </div>
    </section> *@
    @if (contatto != null && contatto.Any())
    {
        <section class="cards-block  interest bg" data-section="contatti">
            <div class="container-lg">
                @if (!string.IsNullOrEmpty(Model.TitoloSezioneContatti))
                {
                    <div class="row justify-content-center">
                        <div class="col-7 col-lg-12">
                            <h2 class="h2 text-center pb-lg-5 mb-lg-4">@Model.TitoloSezioneContatti</h2>
                        </div>
                    </div>
                }
                <div class="row g-mega g-overflow">
                    @foreach (var singleContatto in contatto)
                    {
                        @(await Html.PartialAsync("CardContatto", singleContatto, new ViewDataDictionary(ViewData) { { "section", @Model.TitoloSezioneContatti } }))
                    }
                </div>
            </div>
        </section>
    }
    @Html.GetBlockListHtml(Model.AltriBlocchi)
</main>