@using Crif.It.Models;
@using Umbraco.Cms.Web.Common.PublishedModels;
@using Crif.It.Utils;
@using ContentModels = Crif.It.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<RicercheAcademy>
@{
	Layout = "Master.cshtml";
	var ricercheacademy = Model.Children();
	var articoli = Model.DescendantsOfType("Articolo").OrderByDescending(x => x.Value("dataCustom"));
	var pageSize = 15;
	if (Model.ElementiPerPagina > 0)
	{
		pageSize = Model.ElementiPerPagina;
	}

	var page = 1; int.TryParse(Context.Request.Query["page"], out page);
	var totalPages = 1;
	if (articoli != null && articoli.Count() > pageSize)
	{
		totalPages = (articoli.Count() / pageSize) + ((articoli?.Count() % pageSize > 0) ? 1 : 0);
	}

	if (page > totalPages)
	{
		page = totalPages;
	}
	else if (page < 1)
	{
		page = 1;
	}
}
<section class="textonly-heading pb-lg-3">
	<div class="container-lg">
		<div class="row">
			<div class="col-12 banner">
				<div class="caption">
					@await (Html.PartialAsync("Breadcrumb", Umbraco.AssignedContentItem))
					<h1 class="h1 fade-in-box">@Model?.TitoloRA</h1>
					<p class="big-text fade-in-box">@Model?.DescrizioneRA</p>
				</div>
			</div>
		</div>
	</div>
</section>
@if (ricercheacademy != null && ricercheacademy.Any())
{
	<div class="decade-banner z-10">
		<section class="internal-navigation mt-3 mt-lg-5">
			<div class="container-lg">
				<div class="row">
					<div class="col-12">
						<nav>
							<ul class="internal-menu">
								<li class="nav-item current"><a title="@Model?.Name" href="@Model?.Url()" class="nav-link" data-link-type="filter" data-link-destiantion="@Model?.Url()" data-link-filterCategory="@Umbraco.GetDictionaryValue("tutti_news_eventi")" data-link-filterScroll="undefined">@Umbraco.GetDictionaryValue("tutti_news_eventi")</a></li>
								@foreach (var news in ricercheacademy.OrderBy(newseventi => newseventi.Value("ordineCustom")))
								{
									<li class="nav-item"><a title="@news.Name" href="@news.Url()" class="nav-link" data-link-type="filter" data-link-destiantion="@news.Url()" data-link-filterCategory="@news.Name" data-link-filterScroll="undefined">@news.Name</a></li>
								}
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</section>
	</div>
}
@Html.GetBlockListHtml(Model?.Blocchi)
@if (Model != null && Model.MostrareListing)
{
	<section class="vertical-cards-block bg pt-0 pt-lg-4 pb-80">
		<div class="container-lg">
			@if (Model.TitoloAggiornamenti != "")
			{
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="h2 text-center pb-lg-5 mb-lg-4">@Model.TitoloAggiornamenti</h2>
                    </div>
                </div>
			}
			@if (articoli != null && articoli.Any())
			{
				<div class="row g-large">
					@foreach (Articolo art in articoli.Skip((page - 1) * pageSize).Take(pageSize))
					{
						@(await Html.PartialAsync("CardArticolo", art, new ViewDataDictionary(ViewData){ {"list", "related" },{"section",@Model.TitoloAggiornamenti} }))
					}
				</div>
			}

			@if (totalPages > 1)
			{
				<div class="row pt-4 mt-2 mt-lg-0">
					@(await Html.PartialAsync("Pagination", new PagModel { PageIndex = (int)page, TotalCount = (int)totalPages }))
				</div>
			}
		</div>
	</section>
}
@Html.GetBlockListHtml(Model?.AltriBlocchi)
@if(Model!=null && Model.MostrareCategorieRicerche)
{
	var categorie = Model.DescendantsOfType("ricercheAcademyCategoria");
	<section class="cards-block">
    <div class="container-lg">
        @if (Model.TitoloSezioneRicerche != "")
        {
        <div class="row justify-content-center">
            <div class="col-7 col-lg-12">
                <h2 class="h2 text-center pb-lg-5 mb-lg-4">@Model.TitoloSezioneRicerche</h2>
            </div>
        </div>
        }
        <div class="row g-mega g-overflow ">
            @if (categorie!= null && categorie.Any())
            {
                @foreach (RicercheAcademyCategoria cat in categorie)
                {
                    @(await Html.PartialAsync("CardRicercheCategoria", cat, new ViewDataDictionary(ViewData){{"section",@Model.TitoloAggiornamenti} }))
                }
            }
        </div>
    </div>
</section>
}
@Html.GetBlockListHtml(Model?.UltimiBlocchi)